* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --very-dark-grey: hsl(0, 0%, 17%);
    --dark-grey: hsl(0, 0%, 59%);
}

body {
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}