form {
    width: 90%;
    max-width: 555px;
    height: 60px;
    border-radius: var(--border-radius);
    background: #fff;
    display: flex;
    margin-bottom: 50px;
}

form .input {
    width: 100%;
    border: none;
    outline: none;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 0 25px;
    font-size: 18px;
}

form .input::placeholder {
    color: var(--dark-grey);
}

form .submit {
    width: 60px;
    background-color: #000;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    transition: .2s;
}

form .submit:hover {
    background-color: #3f3f3f;
}

@media only screen and (max-width: 450px) {
    form .input::placeholder {
        font-size: 16px;
    }
}